<a href="https://colab.research.google.com/github/alekyayada/alekya/blob/main/assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
a+b+c

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x="alekya"
type(x)

str

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
x=int(input("enter the first number :"))
y=int(input("enter the second number:"))
print(x+y)
print(x-y)
print(x*y)
print(x/y)

enter the first number :3
enter the second number:5
8
-2
15
0.6

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
x="123"
print(int(x))
print(float(x))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
x=input("enter the string:")
print(x[0])

enter the string:Alekya
A

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
x=input("enter the string:")
print(len(x))

enter the string:Alekhya
7

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
x=input("enter the string;")
print(x.isalpha())

enter the string;alekya
True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
x=input("enter the first string:")
y=input("enter the second string:")
x+y

enter the first string:Alekya
enter the second string:Yada

'AlekyaYada'

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
x=input("enter the string:")
subs="abc"
x.find(subs)

enter the string:abcdefgh

0

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
x=input("enter the string:")
y=x.upper()
print("uppercase:" ,y)
z=x.lower()
print("lowercase:" ,z)

enter the string:alekya
uppercase: ALEKYA
lowercase: alekya

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
string="apple"
c=string.count('a',1)
print('the count space from letter a:',c)

the count space from letter a: 0

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
x=input("enter your name:")
print("hello" ,x+  "  good morning!")

enter your name:alekya
hello alekya  good morning!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a=5
b=15
a+b

20

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("enter name:")
age=input("age:")
print({name},{age})

enter name:alekya
age:20
{'alekya'} {'20'}

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num = float(input("Enter a number:"))
if num > 0:
   print(f"{num} is a positive number.")
elif num < 0:
  print(f"{num} is a negative number.")
else:
     print(f"{num} is zero.")

Enter a number:5
5.0 is a positive number.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
num3 = float(input("Enter the third number: "))
if num1 >= num2 and num1 >= num3:
   print(f"{num1} is the maximum number.")
if num2 >= num1 and num2 >= num3:
  print(f"{num2} is the maximum number.")
else:
       print(f"{num3} is the maximum number.")

Enter the first number: 5
Enter the second number: 10
Enter the third number: 15
15.0 is the maximum number.

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year = int(input ("Enter the year:"))
if (year % 4 == 0 and year % 100 !=0) or (year % 400 == 0):
      print(f"{year} is a leap year.")
else:
      print(f"{year} is not a leap year.")

Enter the year:2006
2006 is not a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num = int(input("Enter a number:"))
if num % 3 ==0 and num % 5 ==0:
  print(f"{num} is divisible by both 3 and 5.")
else:
  print(f"{num} is not divisible by both 3 and 5.")

Enter a number:21
21 is not divisible by both 3 and 5.

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
user_string = input("Enter a string: ")
clean_string = user_string.replace("","").lower()
if clean_string == clean_string[::-1]:
  print(f"'{user_string}'is a palindrome.")
else:
  print(f"'{user_string}'is not a palindrome.")

Enter a string: hello
'hello'is not a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for i in range(1,12):
   print(i)

1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
i = 1
while i <= 20:
   if i % 2 ==0:
    print(i)
   i += 1

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
num = int(input("Enter a number:"))
print(f"multiplication table for {num}:")
for i in range(1,11):
  print(f"{num} x {i} = {num * i}")
  i += 1

Enter a number:12
multiplication table for 12:
12 x 1 = 12
12 x 2 = 24
12 x 3 = 36
12 x 4 = 48
12 x 5 = 60
12 x 6 = 72
12 x 7 = 84
12 x 8 = 96
12 x 9 = 108
12 x 10 = 120

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("enter a number: "))
total_sum = 0
i=1
while i <= n:
  total_sum += i
  i += 1
  print(f"sum of numbers from 1 to {n}:{total_sum}")

enter a number: 6
sum of numbers from 1 to 6:1
sum of numbers from 1 to 6:3
sum of numbers from 1 to 6:6
sum of numbers from 1 to 6:10
sum of numbers from 1 to 6:15
sum of numbers from 1 to 6:21

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
num = int(input("Enter a number:  "))
factorial = 1
i = 1
while i <= num:
  factorial *= i
  i += 1
  print(f"The factorial of {num} is {factorial}")

Enter a number:  9
The factorial of 9 is 1
The factorial of 9 is 2
The factorial of 9 is 6
The factorial of 9 is 24
The factorial of 9 is 120
The factorial of 9 is 720
The factorial of 9 is 5040
The factorial of 9 is 40320
The factorial of 9 is 362880

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms: "))
a, b =0, 1
print("Fibonacci sequence:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms: 9
Fibonacci sequence:
0 1 1 2 3 5 8 13 21

In [ ]:
from pickle import TRUE
# Write a Python program to find all the prime numbers from 1 to 100.
print("Prime numbers from 1 to 100:")
for num in range(2, 101):
    is_prime = TRUE
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
      print(num, end=" ")

Prime numbers from 1 to 100:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
numbers = [10, 20, 30, 40, 50, 60, 70]
for num in numbers:
  print(num)
  if num > 50:
    print("numbers greater than 50 found. Breaking out of loop.")
    break

10
20
30
40
50
60
numbers greater than 50 found. Breaking out of loop.

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for num in range(1,21):
  if num % 2 == 0:
    continue
  print(num)

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string an
string = input("Enter a string:")

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers = [1, 2, 3, 4, 5]
sum_of_elements = sum(numbers)
print("The sum of the elements is:", sum_of_elements)

The sum of the elements is: 15

In [ ]:
# Write a Python program to find the largest element in a list.
numbers = [10, 5, 20, 15, 30]
largest_element = max(numbers)
print("The largest element in the list is:", largest_element)

The largest element in the list is: 30

In [ ]:
# Write a Python program to reverse a list.
numbers = [1, 2, 3, 4, 5]
reversed_list = numbers[::-1]
print("The reversed list is:", reversed_list)

The reversed list is: [5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to find the index of an element in a list.
numbers = [1, 2, 3, 4, 5]
reversed_list = numbers[::-1]
print("The reversed list is:", reversed_list)

The reversed list is: [5, 4, 3, 2, 1]

In [1]:
# Write a Python program to find if a specific element exists in a list.
numbers =[10, 20, 30, 40, 50]
element_to_find = 30
if element_to_find in numbers:
   print("The element exists in the list.")
else:
   print
   ("the element does not exists in the list.")

The element exists in the list.

In [7]:
# Write a Python program to remove duplicates from a list.
numbers = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(numbers))
print("The list with duplicates removed is:", unique_list)

The list with duplicates removed is: [1, 2, 3, 4, 5]

In [11]:
# Write a Python program to count the occurrences of an element in a list2.
numbers = [1, 2, 2, 3, 4, 4, 5]
element_to_count = 2
count = numbers.count(element_to_count)
print("The element appears", count, "times in the list")

The element appears 2 times in the list

In [13]:
# Write a Python program to get the number of even numbers in a list.
list = [1,2,3,4,5,6,7,8,9,10]
count = 0
for i in list:
  if i % 2 == 0:
    count += 1
print(count)

5

In [15]:
# Write a Python program to create a tuple and print it.
my_tuple=(10,20,30,40,50,)
max_value=max(my_tuple)
min_value=max(my_tuple)
print("tuple:" ,my_tuple)
print("maximum value:" ,max_value)
print("minimum value:" ,min_value)

tuple: (10, 20, 30, 40, 50)
maximum value: 50
minimum value: 50

In [16]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (10, 20, 30)
a, b, c = my_tuple
print("a" , a)
print("b" , b)
print("c" , c)

a 10
b 20
c 30

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.

In [ ]:
# Write a Python program to unpack a tuple into variables.

In [ ]:
# Write a Python program to add an element to a set and check if an element exists in the set.

In [ ]:
# Write a Python program to create a dictionary with keys and values and print it.

In [ ]:
# Write a Python program to access a dictionary value using a key.

In [ ]:
# Write a Python program to check if a key exists in a dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.

In [ ]:
# Write a Python program to remove a key from a dictionary.

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`